#aboutus-page
{
    background-color: rgba(235, 248, 178, 0.233);
}

#aboutus-layout
{
    height:100vh;
    padding: 120px 100px 100px 100px ;
    /*background-color: #f9f6f2; */
    

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

#aboutus-left, #aboutus-right
{
   
    height: 100%;
}

#aboutus-left
{
    width: 40%;
    border-top-right-radius: 80px;
    
    background-image: url(/src/assets/Teamwork2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: end;
    justify-content: end;

    
}

#aboutus-right
{
     width: 60%;
    /*background-color: rgba(235, 248, 178, 0.233);*/  
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 40px;

    padding: 0px 100px 12px 0px;
}

#aboutus-title
{
    font-size: clamp(48px, 8vw, 120px);
    font-weight: 600;
    position: absolute;
    z-index: 3;
    top: 80px;

    right: 180px;

    letter-spacing: 14px;
}

#aboutus
{
    font-size: 14px;
    line-height: 1.7;
    text-align: left;
    padding: 10px 0px 0 100px;

}

#aboutus-visualInterest
{
    width: 10%;
    height: 4px;

    background-color: black;
}

/* =======================
   RESPONSIVE (TABLET & MOBILE)
======================= */
@media screen and (max-width: 900px) 
{

    #aboutus-layout {
        flex-direction: column;
        height: 100%;
        padding: 80px 24px 40px;
    }

    #aboutus-left,
    #aboutus-right {
        width: 100%;
        height: auto;
    }

    #aboutus-left {
        min-height: 280px;
    }

    #aboutus-right {
        align-items: flex-end;
        padding: 0;
        gap: 24px;
    }

    #aboutus-title {
        position: static;
        text-align: center;
        margin-bottom: 24px;
        letter-spacing: 6px;
    }

    #aboutus {
        font-size: 14px;
        max-width: 100%;
        padding: 0;
    }

    #aboutus-visualInterest {
        width: 40px;
    }
}