#aboutus-page
{
    background-color: rgba(235, 248, 178, 0.233);
}

#aboutus-layout
{
    height:100vh;
    padding: 120px 100px 100px 100px ;
    /*background-color: #f9f6f2; */
    

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

#aboutus-left, #aboutus-right

{
   
    height: 100%;
}

#aboutus-left
{
    width: 40%;
    
    /*background-color: blue; */
    background-image: url(/src/assets/Teamwork2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: end;
    justify-content: end;

    
}

#aboutus-right
{
     width: 60%;
    /*background-color: rgba(235, 248, 178, 0.233);*/  
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 40px;

    padding: 0px 100px 12px 0px;
}

#aboutus-title
{
    font-size: 120px;
    font-weight: 600;
    position: absolute;
    z-index: 3;
    top: 80px;

    right: 180px;

    letter-spacing: 14px;
}

#aboutus
{
    font-size: 14px;
    text-align: left;
    padding: 160px 0px 0 100px;

}

#aboutus-visualInterest
{
    width: 10%;
    height: 10px;

    background-color: black;
}