#login-modal
{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 16px;
    
}

#login-content
{
    width: 70%;
    /* x, y, blur, color */
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.205);

    padding: 16px;

    border-radius: 16px;

}

#login-options
{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 20px;
    
}

#login-email
{
    width: 45%;
    margin-right: auto;

    display: flex;
    flex-direction:column;
}

#login-alternative
{
    width:45%;
    margin-left: auto;

}

/* Buttons for alternatives */
#login-with
{
    padding: 8px 16px;
    margin: 16px 0px;
    border-style: none;
    border: 1px solid;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;

    display: flex;
    justify-content: center;

    font-size: 14px;
}

#login-input
{
    padding: 8px 16px;
    margin: 8px 0px;
    border-style: none;
    
    border: 1px solid;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    
}




@media screen and (max-width: 900px)
{
    #login-options
    {
        display: flex;
        flex-direction: column;
    }

    #login-email
    {
        margin-right:0px;
        width: 100%;
        
    }

    #login-alternative
    {
        width:100%;
        margin-left: 0;
        
    }
}