#cart-layout
{
    padding: 70px 0;
}

#cart-layout-title
{
    display: flex;
    align-items: baseline;

    font-size: 40px;    
}

#your-cart
{
    width: 70%;
}

#product-title
{
    display: flex;

    font-size: 14px;
    padding: 24px 24px 24px 0;

}