#body-bookPreview 
{
    background-image: url(../assets/Sectionb-Footprint.png);
    background-repeat: no-repeat;
    /*background-position: center;
    background-size: cover;*/
    padding: 40px;
    
}

.category-section 
{
    position: relative;
}

.scroll-container 
{
    overflow-x: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    padding: 0px 10px 10px 10px;
    
}

.scroll-container::-webkit-scrollbar 
{
    height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb 
{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track 
{
    background-color: transparent;
}

.preview 
{
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

.book-cover 
{
    width: 200px;
    height: 300px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(8, 8, 8, 0.158);
    background-color: rgb(249, 250, 249);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 0; /* Prevents shrinking in flexbox */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.preview-book-title 
{
    background: rgb(255, 255, 255);
    color: rgb(5, 5, 5);
    font-size: 12px;

    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
}


.book-cover img 
{
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
}

.book-cover p 
{
    margin: 0;
}


.book-cover:hover 
{
    transform: scale(1.05);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Scroll Buttons */
.scroll-buttons {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

    
}

.scroll-buttons:first-child {
    left: -45px;
}

.scroll-buttons:last-child {
    right: -40px;
}

.scroll-btn 
{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.scroll-btn:hover {
    background-color: rgba(29, 28, 28, 0.8);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .preview {
        gap: 10px;
    }

    .book-cover {
        width: 150px;
        height: 250px;
    }
}
