#library {
  padding: 16px;
  background-color: #f9f9f9;
}

#book-shelf {
  background-color: whitesmoke;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

#book-holder {
  width: 120px;
  height: 200px;
  padding: 8px;
  background-color: rgb(255, 253, 253);
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

#book-holder:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Background Image fills the holder */
#for-image {
  width: 100%;
  height: 85%;

  margin-bottom: 5px;

  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* If no image, show book title as text */
#for-image p {
  margin: 0;
  padding: 8px;
  color: rgb(10, 10, 10);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

#book-actions {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.edit-btn {
  background-color: rgb(20, 46, 117);
  font-size: 10px;
  color: white;
  width: 45px;
  height: 25px;
}

.delete-btn {
  background-color: rgb(153, 42, 22);
  font-size: 10px;
  color: white;
  width: 45px;
  height: 25px;
}
