.relative-container 
{
    position: relative;
}

.loading-message 
{
    text-align: center;
    font-size: 1.2rem;
    color: #555;
}

#books-layout
{
    
    margin: 8px 0px;
}

.preview-flex 
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#book-preview
{
    flex: 1 1 300px; /* Flexible width, min size 300px */
    max-width: 500px;
    height: auto; /* Let height adjust */
    position: relative;
}

#book-cover
{
    width: 100%;
    height: 300px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

#book-cover.with-cover 
{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#book-cover.no-cover 
{
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: bold;
}

.book-title 
{
    font-size: 20px;
    font-weight: bold;
}

#description-overlay
{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    
    width: 100%;
    height: 150px;

    padding: 20px 50px;

    overflow: hidden;

    position: absolute;

    bottom: 0;
    left: 0;

    cursor: pointer;

    transition: height 0.3s ease-in-out;
    
}

#description-overlay.expanded 
{
    height: 90%; /* Show's the about book when clicked */
    
}

#fade::after 
{
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(22, 22, 22) 95%);
}

#fade.hidden
{
    display: none;
}


#book-trailer-container 
{
    width: 70%;
    height: 500px; 

    overflow-y: auto; 
    border: 1px solid #ccc; 
    border-style: none;
    padding: 10px;
    background: #f8f8f863; /* Light background for contrast */
}

#book-trailer 
{
    padding: 10px;
}

/*
#booklists
{
    position: absolute;
    top: 500px;
    z-index: 1;
}
*/

#booklists 
{
  margin-top: 40px;
  padding-top: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.055);
}


.add-to-cart-btn {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  background: black;
  color: white;
  transition: all 0.2s ease;
}

.add-to-cart-btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.add-to-cart-btn:disabled {
  background: #aaa;
  cursor: not-allowed;
  transform: none;
}





@media (max-width: 1200px) {
    .preview-flex 
    {
        flex-direction: column;
    }

    #book-preview,
    #book-trailer-container 
    {
        max-width: 100%;
        width: 100%;
    }

     #book-preview
     {
        display: flex;
        align-items: flex-start;
     }


    
}

