#for-admin-input
{
    border-style: none;
    border: 1px solid;
    border-color: purple;
    border-radius: 16px;

    padding: 16px;

    margin: 16px 0px;

}

#for-title
{
    padding: 16px 0px;
    
    width: 200px;
    height: 300px;
}