#Admin-dashboard
{
    /*background-color: rgb(243, 243, 243);*/
    color: rgb(133, 133, 133);
    width: 20%;
    height: 600px;
}

#admin-layout
{
    
    display: flex;
}

#work-pane
{
    
    width: 100%;
    
}

#admin-input
{
    border-style: none;
    border: 1px solid;
    border-color: purple;
    border-radius: 16px;

    padding: 16px;

}

#admin-input2
{
    border-style: none;
    border: 1px solid;
    border-color: purple;
    border-radius: 16px;

    padding: 16px;

    width:100% ;
    height: 200px;

}

.bookCover-input
{
    height: 300px;
}

.subsection-header
{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
}

.addbook-header
{
    font-weight: 600;
    margin: 8px 0px;
}



